.center {
  text-align: center;
}

.grey-input {
  background: #F7F9F9;
}

.blue-box-button {
  background: #5DADE2;
  width: 177px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FDFEFE;
  text-align: center;
}