.delete-button {
  position: absolute;
  top: 110px;
  left: 80px;
  
  background: #5DADE2;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FDFEFE;
  text-align: center;

}

.rename-button {
  position: absolute;
  top: 160px;
  left: 80px;
  background: #5DADE2;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FDFEFE;
  text-align: center;

}

.white-input {
  position: absolute;
  top: 135px;
  left: 80px;
  background: #FDFEFE;
}


